
header {
    background-color:#3763c9;
    font-size:30px;
    margin:0px;
}


a{
    text-decoration : none;
    color : inherit;
}

.header_n{
    display: inline-block;
    color:#3763c9;
    background-color: white;
    margin: 5px 5px 5px 500px ;
    width:40px;
    text-align: center;
    
}

.line{
    display:inline-block;
    border-right:2px solid; 
    padding-right:4px;
}
nav{
    background-color:#3763c9;
}
ol{
    margin:0px;
    color:rgba(255,255,225,0.1);
    font-size:20px;
}
.video1{
    background-color:#eff2f8;
    height:156px;
}
.video2{
    width:246px;
    height:154px;
    display:inline-block;
    margin: 1px;
    background-color: red;
}

.slide{
    margin:0 auto;
    position:relative;
    max-width:1000px;

}

.sec1{
    height:600px;
    width: 100%;

}
.sec2{
    width:45%;
    height:100%;
    display:inline-block;
}
.sec1 article:nth-child(1){
    background-color:red;
}
.sec3{
    height:500px;
}